* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

nav li  {
    list-style: none;

}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

